/* ----------- Variabler ----------- */
:root {
  --darkgreen: #156064;
  --lightgreen: #55eabd;
  --brownish: #dfbe99;
  --yellowstar: #dca100;
  --cardshadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --buttonshadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

/* ----------- Global ----------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  min-height: 100vh;
  margin: 0 auto;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
  width: 100%;
  max-width: 600px;
}

.bg-image {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url("images/08-night.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}

.bg-image__opacity {
  position: absolute;
  background-color: black;
  opacity: 0.2;
  height: 100vh;
  width: 100vw;
  height: 100%;
  width: 100%;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.header__logo {
  width: 70px;
  margin: 2em;
}

.header__menu-search {
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon-text {
  display: none;
  position: absolute;
  font-size: 1rem;
  color: white;
  top: 80%;
  right: 60%;
  padding: 1rem;
  border-radius: 5px;
  background-color: black;
}

.search-icon-text.active {
  display: block;
}
.header__menu-toggle {
  all: unset;
}
.btn-style-border--darkgreen {
  all: unset;
  text-align: center;
  color: black;
  border: 1px solid var(--darkgreen);
}
.btn-style-solid {
  all: unset;
  text-align: center;
  background-color: var(--darkgreen);
  color: white;
}
.btn-style-border--lightgreen {
  all: unset;
  text-align: center;
  color: white;
  border: 1px solid var(--lightgreen);
}
.buttons__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: var(--buttonshadow);
  margin-top: 1rem;
  width: 100%;
  max-width: 600px;
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  min-height: 3rem;
  box-sizing: border-box;
}
.buttons__button-text {
  flex: 1;
  text-align: center;
  word-wrap: break-word;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
  color: white;
  font-size: 3.5em;
  margin: 0.5em;
}

.search-icon.active {
  color: var(--lightgreen);
}

.hero__title {
  color: var(--lightgreen);
  font-size: 3.5em;
  font-weight: bold;
}

.header__menu-links {
  display: none;
  position: absolute;
  right: 2.2rem;
  top: 5rem;
  background-color: black;
  border-radius: 5px;
  opacity: 0.8;
  max-width: 400px;
  width: 40vw;
  height: 20vh;
  z-index: 99;
}
.header__menu-links.active {
  display: block;
}

.header__menu-links-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}

.header__menu-link {
  font-size: 1.3rem;
}

.header__menu-link--color:hover {
  color: var(--lightgreen);
}

.header__menu-link:hover {
  color: var(--lightgreen);
}

.header__ham-menu {
  height: 60px;
  width: 50px;
  margin-right: 2rem;
  position: relative;
}
.header__ham-menu-line {
  height: 6px;
  width: 100%;
  background-color: white;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
.line1 {
  top: 25%;
}
.line3 {
  top: 75%;
}

.line1.active {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: var(--lightgreen);
}
.line2.active {
  opacity: 0;
}
.line3.active {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: var(--lightgreen);
}

/* ----------- Homepage ----------- */
.hero {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  height: 80vh;
  padding-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 8rem;
  position: relative;
}
.hero__text1 {
  color: white;
  margin-top: -1em;
  text-decoration: underline;

  font-weight: bold;
}

.hero__text2 {
  color: white;
  margin-top: 4em;
  font-weight: normal;
  max-width: 400px;
}

.hero__text2--green {
  color: var(--lightgreen);
}

.hero__review {
  display: flex;
  max-width: 300px;
  width: 100%;
  justify-content: space-between;
}

.hero__review-text {
  color: white;
  font-size: 0.7em;
  font-weight: thin;
}

.hero__review-stars {
  margin-top: -0.2em;
}

.hero__review-star {
  color: var(--yellowstar);
  font-size: 0.7em;
}

.hero__read-more {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.hero__read-more-text {
  color: white;
  font-size: 1.2em;
}

.hero__read-more-arrow {
  font-size: 1.5em;
}
.info-section__title {
  font-size: 2em;
  margin: 2rem;
}
.info-section__highlight-green {
  color: var(--darkgreen);
}
.info-section__highlight-brownish {
  color: var(--brownish);
}
.info-section__line-brownish {
  background-color: var(--brownish);
  height: 0.3em;
  width: 100%;
  margin: 0 auto;
  box-shadow: var(--cardshadow);
}
.info-section__line-green {
  background-color: var(--darkgreen);
  height: 0.3em;
  width: 100%;
  margin: 0 auto;
  box-shadow: var(--cardshadow);
}
.info-section__text {
  margin: 1rem 2rem;
}
.info-section__img {
  max-width: 100%;
  margin-bottom: 5rem;
  border-radius: 5px;
  box-shadow: var(--cardshadow);
}

.buttons {
  max-width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  flex-direction: column;
}

/* ----------- About ----------- */
.main-about {
  max-width: 1200px;
  width: 80vw;
}

.about {
  margin-top: 2rem;
}

.hero__text2-about {
  margin-top: 5rem;
  color: white;
  font-size: 3rem;
  font-weight: 500;
}

.about__title {
  color: var(--darkgreen);
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
.about__text {
  margin-bottom: 2rem;
}

.facility-intro__green {
  color: var(--darkgreen);
}

.facility {
  margin: 2rem 0;
}

.facility__title {
  color: var(--darkgreen);
}

.facility-intro {
  margin-top: 5rem;
}
/* ----------- Booking ----------- */
.booking-icon {
  margin-left: auto;
  font-size: 1.3rem;
}

.search-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

  margin: 0 auto;
}
.search-result__room {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--cardshadow);
  margin: 5rem 0;
  border-radius: 5px;
}

.person-icon {
  color: black;
  font-size: 1.3rem;
}
.search-result__room-title {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}
.search-result__room-text {
  margin: 1rem;
}

.search-result__room-image {
  max-width: 100%;
  border-radius: 5px 5px 0 0;
  box-shadow: var(--cardshadow);
}
/* ----------- Footer ----------- */
.footer {
  margin-top: 3rem;
  background-color: black;
  opacity: 0.8;
}

.footer__logo {
  width: 200px;
  margin: 2em auto;
}
.footer-logo-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.footer__contact {
  color: white;
}

.footer__info {
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 2rem;
}
/* ----------- Media Queries ----------- */

@media (min-width: 800px) {
  .hero__title {
    font-size: 5em;
  }
  .hero__text1 {
    font-size: 1.3em;
  }

  .hero__text2 {
    font-size: 1.5em;
  }

  .hero__review {
    display: flex;
    max-width: 400px;
    width: 100%;
    justify-content: space-between;
  }

  .hero__review-text {
    color: white;
    font-size: 0.9em;
    font-weight: thin;
  }

  .hero__review-stars {
    margin-top: 0;
  }

  .hero__review-star {
    color: var(--yellowstar);
    font-size: 0.9em;
  }
  .info-section__title {
    font-size: 2.5em;
  }

  .info-section__text {
    font-size: 1.3em;
  }

  .search-result__rooms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    justify-items: center;
    align-items: start;
  }
}

@media (min-width: 1000px) {
  .about-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    justify-items: center;
    align-items: start;
  }

  .facility-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    justify-items: center;
    align-items: start;
  }
}

@media (min-width: 1400px) {
  .hero {
    padding-left: 0;
  }
}
