/* ----------- Variabler ----------- */
:root {
  --darkgreen: #156064;
  --lightgreen: #55eabd;
  --brownish: #dfbe99;
  --yellowstar: #dca100;
  --cardshadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --buttonshadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
/* ----------- Global ----------- */
body {
  min-height: 100vh;
  margin: 0 auto;
}
main {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

.bg-image {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-image: url("images/08-night.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}

.bg-image__opacity {
  position: absolute;
  background-color: black;
  opacity: 0.2;
  height: 100vh;
  width: 100vw;
  height: 100%;
  width: 100%;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.header__logo {
  width: 3.5em;
  margin: 2em;
}

.header__menu-search {
  display: flex;
  align-items: center;
}

.btn-style {
  all: unset;
}

.search-icon {
  font-size: 2em !important;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
  color: white;
  font-size: 3.5em;
  margin: 0.5em;
}

.hero__title {
  color: var(--lightgreen);
  font-size: 3.5em;
  font-weight: bold;
}

/* ----------- Homepage ----------- */
.hero {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  height: 80vh;
  padding-left: 2rem;
  margin-bottom: 8rem;
  position: relative;
}
.hero__text1 {
  color: white;
  margin-top: -1em;
  text-decoration: underline;

  font-weight: bold;
}

.hero__text2 {
  color: white;
  margin-top: 4em;
  font-weight: normal;
  max-width: 400px;
}

.hero__text2--green {
  color: var(--lightgreen);
}

.hero__button {
  background-color: none;
  color: white;
  border: 1px solid var(--lightgreen);
  border-radius: 5px;
  font-size: fit-content;
  font-weight: bold;
  width: 100%;
  height: 2em;
  max-width: 300px;
  text-align: center;
  margin-top: 2em;
}

.hero__review {
  display: flex;
  max-width: 300px;
  width: 100%;
  justify-content: space-between;
}

.hero__review-text {
  color: white;
  font-size: 0.7em;
  font-weight: thin;
}

.hero__review-stars {
  margin-top: -0.2em;
}

.hero__review-star {
  color: var(--yellowstar);
  font-size: 0.7em;
}

.hero__read-more {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.hero__read-more-text {
  color: white;
  font-size: 1.2em;
}

.hero__read-more-arrow {
  font-size: 1.5em;
}
.info-section__title {
  font-size: 2em;
  margin: 2rem;
}
.info-section__highlight-green {
  color: var(--darkgreen);
}
.info-section__highlight-brownish {
  color: var(--brownish);
}
.info-section__line-brownish {
  background-color: var(--brownish);
  height: 0.3em;
  width: 100%;
  margin: 0 auto;
  box-shadow: var(--cardshadow);
}
.info-section__line-green {
  background-color: var(--darkgreen);
  height: 0.3em;
  width: 100%;
  margin: 0 auto;
  box-shadow: var(--cardshadow);
}
.info-section__text {
  margin: 1rem 2rem;
}
.info-section__img {
  max-width: 100%;
  margin-bottom: 5rem;
  border-radius: 5px;
  box-shadow: var(--cardshadow);
}

.buttons {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  flex-direction: column;
}
.btn-style-border {
  border: 1px solid var(--darkgreen);
}
.btn-style-solid {
  background-color: var(--darkgreen);
  color: white;
}
.buttons__button {
  border-radius: 5px;
  box-shadow: var(--buttonshadow);
  margin-top: 1rem;
  width: 80vw;
  max-width: 600px;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
}

/* ----------- About ----------- */
.main-about {
  max-width: 1200px;
  width: 80vw;
}

.about {
  margin-top: 2rem;
}

.hero__text2-about {
  margin-top: 5rem;
  color: white;
  font-size: 3rem;
  font-weight: 500;
}

.about__title {
  color: var(--darkgreen);
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
.about__text {
  margin-bottom: 2rem;
}

.facility-intro__green {
  color: var(--darkgreen);
}

.facility {
  margin: 2rem 0;
}

.facility__title {
  color: var(--darkgreen);
}

/* ----------- Footer ----------- */
.footer {
  background-color: black;
  opacity: 0.8;
}

.footer__logo {
  width: 200px;
  margin: 2em auto;
}
.footer-logo-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.footer__contact {
  color: white;
}

.footer__info {
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 2rem;
}

@media (min-width: 800px) {
  .hero__title {
    font-size: 5em;
  }
  .hero__text1 {
    font-size: 1.3em;
  }

  .hero__text2 {
    font-size: 1.5em;
  }
  .hero__button {
    font-size: 1.4rem;
    height: 2em;
    max-width: 400px;
  }
  .hero__review {
    display: flex;
    max-width: 400px;
    width: 100%;
    justify-content: space-between;
  }

  .hero__review-text {
    color: white;
    font-size: 0.9em;
    font-weight: thin;
  }

  .hero__review-stars {
    margin-top: 0;
  }

  .hero__review-star {
    color: var(--yellowstar);
    font-size: 0.9em;
  }
  .info-section__title {
    font-size: 2.5em;
  }

  .info-section__text {
    font-size: 1.3em;
  }
}
