/* ----------- Variabler ----------- */
:root {
  --bluebutton: #63b4d1;
  --icon-color: #e7dfc6;
  --yellowstar: #dca100;
  --cardshadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
